---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import heroImage from "@images/housekeeper.svg";
import features from "@data/features.json";
import testimonials from "@data/testimonials.json";
import featureImage from "@images/features-image.avif";
---

<MainLayout>
  <HeroSection
    title=`Pure Clean, Naturally Green With <span
        class="text-green-500 dark:text-green-400">Vera Cleans</span>`
    subTitle="Eco-friendly house cleaning services creating a healthier home for you and the environment."
    primaryBtn="Request Your Estimate"
    primaryBtnURL="/"
    withReview={true}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">1k</span> Reviews`
    src={heroImage}
    alt="Cleaning woman"
  />

  <TestimonialsSectionAlt
    title="Our happy customers"
    {testimonials}
  />

  <!--<FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    {features}
  />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    primaryBtn="Request Your Estimate"
    primaryBtnURL="/"
  />-->
</MainLayout>
